{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->

{% block content %}
  <h1 class="govuk-heading-xl">Welcome to your dev test!</h1>

  <!-- The freedom is yours. You can design the solution however you like, however there is a starting point provided
  to ensure you have both services running. You may want to make use of the Gov UK Components:
  https://design-system.service.gov.uk/components/ to add tabs and so forth :) -->

  {% if example.id %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "ID"
          },
          value: {
            text: example.id
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "change case id ?!"
              }
            ]
          }
        },
        {
          key: {
            text: "Case Number"
          },
          value: {
            text: example.caseNumber
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "change case number"
              }
            ]
          }
        },
        {
          key: {
            text: "Title"
          },
          value: {
            html: example.title
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "change case title"
              }
            ]
          }
        },
        {
          key: {
            text: "Description"
          },
          value: {
            html: example.description
          },
          actions: {
            items: [
               {
                 href: "#",
                 text: "Delete",
                 visuallyHiddenText: "Delete description"
               },
               {
                 href: "#",
                 text: "Change",
                 visuallyHiddenText: "Change description"
               }
            ]
          }
        },
        {
          key: {
            text: "Status"
          },
          value: {
            html: example.status
          },
          actions: {
            items: [
            ]
          }
        },
        {
          key: {
           text: "Created Date"
          },
          value: {
           html: example.createdDate
          },
          actions: {
           items: [
           ]
          }
        }
      ]
    }) }}

  {% endif %}

{% endblock %}
